@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">

    @if (Model.IsBeta)
    {
        <h1 class="display-4">This is a List of Products Beta</h1>
    }else
    {
        <h1 class="display-4">This is a List of Products Official</h1>
    }

    <table>
        <thead>
            <tr>
                <th scope="col">Product Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model.products)
            {
                <tr>
                    <th scope="row">@product.ProductId</th>
                    <th scope="row">@product.ProductName</th>
                    <th scope="row">@product.Quantity</th>
                </tr>
            }

        </tbody>
    </table>
</div>